abind==1.4-5
askpass==1.1
backports==1.4.1
base64enc==0.1-3
brio==1.1.3
broom==1.0.4
bslib==0.4.2
cachem==1.0.7
callr==3.7.3
car==3.1-2
carData==3.0-5
caret==6.0-94
chron==2.3-60
cli==3.6.1
clock==0.6.1
colorspace==2.1-0
commonmark==1.9.0
compareGroups==4.6.0
corrplot==0.92
cowplot==1.1.1
cpp11==0.4.3
crayon==1.5.2
crosstalk==1.2.0
crul==1.3
curl==5.0.0
data.table==1.14.8
dbscan==1.1-11
dendextend==1.17.1
desc==1.4.2
diagram==1.6.5
diffobj==0.3.5
digest==0.6.31
dplyr==1.1.1
DT==0.27
e1071==1.7-13
ellipse==0.4.5
ellipsis==0.3.2
emmeans==1.8.5
estimability==1.4.1
evaluate==0.2
factoextra==1.0.7
FactoMineR==2.8
fansi==1.0.4
farver==2.1.1
fastmap==1.1.1
flashClust	1.01-2
flextable==0.9.1
fontawesome==0.5.0
fontBitstreamVera==0.1.1
fontLiberation==0.1.0
fontquiver==0.2.1
foreach==1.5.2
fs==1.5.2
future==1.32.0
future.apply==1.10.0
gdtools==0.3.3
generics==0.1.3
gfonts==0.2.0
ggfortify==0.4.16
ggplot2==3.4.2
ggpubr==0.6.0
ggrepel==0.9.3
ggsci==3.0.0
ggsignif==0.6.4
globals==0.16.2
glue==1.6.2
gower==1.0.1
gridExtra==2.3
gtable==0.3.3
hardhat==1.3.0
HardyWeinberg==1.7.5
highr==0.1
htmltools==0.5.5
htmlwidgets==1.6.2
httpcode==0.3.0
httpuv==1.6.9
httr==1.4.5
ipred	0.9-14
IRdisplay==1.1
IRkernel==1.3.2
isoband==0.2.7
iterators==1.0.14
jquerylib==0.1.4
jsonlite==1.8.4
kableExtra==1.3.4
knitr==1.42
labeling==0.4.2
later==1.3.0
lava==1.7.2.1
lazyeval==0.2.2
leaps==3.1
lifecycle==1.0.3
listenv==0.9.0
lme4	1.1-32
lmtest	0.9-40
lubridate==1.9.2
magrittr==2.0.3
MatrixModels==0.5-1
memoise==2.0.1
mice==3.15.0
mime==0.12
minqa==1.2.5
ModelMetrics==1.2.2.2
multcompView	0.1-9
munsell==0.5.0
mvtnorm	1.1-3
nloptr==2.0.3
numDeriv==2016.8-1.1
officer==0.6.2
openssl==2.0.6
parallelly==1.35.0
pbdZMQ	0.3-9
pbkrtest==0.5.2
pillar==1.9.0
pkgconfig==2.0.3
pkgload==1.3.2
plyr==1.8.8
polynom==1.4-1
praise==1.0.0
pROC==1.18.0
processx==3.8.1
prodlim==2023.03.31
progressr==0.13.0
promises==1.2.0.1
proxy==0.4-27
ps==1.7.5
purrr==1.0.1
quantreg==5.95
R6==2.5.1
ragg==1.2.5
randomForest==4.7-1.1
rappdirs==0.3.3
RColorBrewer==1.1-3
Rcpp==1.0.10
RcppEigen==0.3.3.9.3
recipes==1.0.5
rematch2==2.1.2
repr==1.1.6
reshape2==1.4.4
rgl==1.0.1
rlang==1.1.0
rmarkdown==2.21
rprojroot==2.0.3
Rsolnp==1.16
rstatix==0.7.2
rstudioapi==0.14
rvest==1.0.3
sass==0.4.5
scales==1.2.1
selectr==0.4-2
shape==1.4.6
shiny==1.7.4
sourcetools==0.1.7-1
SparseM==1.81
SQUAREM==2021.1
stringi==1.7.12
stringr==1.5.0
svglite==2.1.1
sys==3.4.1
systemfonts==1.0.4
testthat==3.1.7
textshaping==0.3.6
tibble==3.2.1
tidyr==1.3.0
tidyselect==1.2.0
timechange==0.2.0
timeDate==4022.108
tinytex==0.44
translations==4.1.3
triebeard==0.4.1
truncnorm==1.0-9
tzdb==0.3.0
urltools==1.7.3
utf8==1.2.3
uuid==1.1-0
vctrs==0.6.1
viridis==0.6.2
viridisLite==0.4.1
waldo==0.5.0
webshot==0.5.4
withr==2.5.0
writexl==1.4.2
xfun==0.38
xml2==1.3.3
xtable==1.8-4
yaml==2.3.7
zip==2.3.0
zoo==1.8-12